---
import Layout from '../layouts/Layout.astro';
import Header from '@/components/header.astro';
import Hero from '@/components/hero.astro';
import Serverlist from '@/components/serverlist.astro';
import Footer from '@/components/footer.astro';
import '@/styles/globals.css'
---

<Layout title="QuakeHub | Your Quake Hub">
	<Header />
	<Hero />
	<div class="wrapper">
	<Serverlist />
	</div>
	<Footer />
</Layout>

<style>
.wrapper {
	max-width: 1440px;
	margin: 0 auto;
}
</style>
