---
import Layout from '../layouts/Layout.astro';
import Header from '@/components/header.astro';
import Hero from '@/components/hero.astro';
import '@/styles/globals.css'
---

<Layout title="QuakeHub | Your Quake Hub">
	<Header />
	<div class="wrapper">
	<Hero />
	</div>
</Layout>

<style>
.wrapper {
	max-width: 1440px;
	margin: 0 auto;
}
</style>
