---
---
<section class="flex justify-center text-center p-48 relative z-10">
    <div class="flex gap-3 flex-col">
        <h1 class="text-5xl font-bold tracking-tighter text-white">Real-Time <span class="bg-gradient-to-r from-red-500 to-red-800 bg-clip-text text-transparent">Quake Live</span> Server Tracking</h1>
        <p class="text-zinc-500">Track, monitor, and join QuakeLive servers with live data from Steam.</p>
    </div>
</div>    
</section>

